@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron MTHeaderStyle">
    <h1>Azure Mappingtool</h1>
    <p class="lead"> 
        Azure Mappingtool is a free solution hosted in Microsoft Azure.<br />
        This tool is based on Azure PaaS services and will help you to <br />
        administrate and automate the RG deployment and also the permission assignment.
        To get more information about Azure and their services klick on the link:
        <p>
            <a href="https://www.azure.com" target="_blank" class="btn btn-success">Learn more &raquo;</a>
        </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Architecture</h2>
        <p>
            When I'm started with the development, I had the following requirements:
            <ul>
                <li>Only use PaaS and SaaS services</li>
                <li>Zentral deployment</li>
                <li>Decoupled architecture</li>
            </ul>
            Klick on the link below, to see a high level architecture design.
        </p>        
        <p>
            <a class="btn btn-dark" href="@Url.Action("Architecture", "Home")" target="_blank">Architecture &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Workflows</h2>
        <p>        
            Depending on the workflow, the execution will be triggerd by:
            <ul>
                <li>LogicApp</li>
                <li>Script based</li>
                <li>Event based</li>
            </ul>

            To get an overview the workflows, klick on "Learn more".
        </p>
        <p>
            <a class="btn btn-dark" href="@Url.Action("Workflows", "Home")" target="_blank">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Source</h2>
        <p>
            The application is based on <a href="https://de.wikipedia.org/wiki/Open_Source" target="_blank">Open Source</a>. <br />
            The whole source code could be found on my GitHub account.<br />
            Klick on "Get code" to view the whole source code.
        </p>
        <p><a class="btn btn-dark" href="https://github.com/Lagler-Gruener/AzureSolutions/tree/master/Mappingtool" target="_blank">Get code &raquo;</a></p>
    </div>
</div>